*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
data/build.gradle.kts
gradle.properties
presentation/build.gradle.kts
app/build.gradle.kts
